:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --highlight-background: #ffcccc;
  --highlight-text: #ff0000;
}

body {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.inputRow {
  width: 258px;
  height: 28px;
  margin-right: 8px;
}

.button {
  margin-right: 8px;
}

.tableContainer {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.tableCell {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}

.headerCell {
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .tableContainer {
    gap: 30px;
  }

  .tableRow {
    flex-direction: column;
    gap: 30px;
  }

  .tableCell {
    flex: none;
    position: relative;
  }

  .headerCell {
    display: none;
  }

  .tableCell::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
  }

  .tableCell,
  .headerCell {
    text-align: center;
    box-sizing: border-box;
  }
}

.tableCell:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.highlight {
  background-color: var(--highlight-background);
  color: var(--highlight-text);
  font-weight: bold;
}
