:root {
  --highlight-background: #ffcccc;
  --highlight-text: #ff0000;
}

.tableContainer {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputRow {
  display: flex;
  width: 258px;
  height: 28px;
}

.headerCell {
  font-weight: bold;
}

.tableRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tableCell {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  position: relative;
}

.tableRow {
  flex-wrap: wrap;
}

@media screen and (max-width: 420px) {
  .tableRow {
    display: flex;
    flex-direction: column;
  }

  .tableCell {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 26px;
  }

  .headerCell {
    display: none;
  }

  .headerCell::before,
  .tableCell::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .headerCell,
  .tableCell {
    text-align: center;
  }
}

.tableCell:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.highlight {
  background-color: var(--highlight-background);
  color: var(--highlight-text);
  font-weight: bold;
}
